<div class="text-field">
  <%= form.label :start_date %>
  <%= form.text_field :start_date, class:'datepicker' %><br>

  <%= form.label :end_date %>
  <%= form.text_field :end_date, class:'datepicker' %><br>

</div>
<div class="submit-field">
  <%= form.submit %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>