<div class="text-field">
  <%= form.label :jalan %>
  <%= form.text_field :jalan %><br>

  <%= form.label :state %>
  <%= form.text_field :state %><br>

  <%= form.label :country %>
  <%= form.text_field :country %><br>
</div>